@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff')
            format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf')
            format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular')
            format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff')
            format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf')
            format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold')
            format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
.root {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    background-color: #fff;
}
/* nav {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
} */

.formwala {
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-holder {
    position: relative;
    margin-top: 40px;
}
.foot {
    margin-top: 10px;
}
.main {
    min-height: 100vh;
}
.container {
    height: 100%;
    width: 100%;
}

.container .row {
    height: 100%;
}

.col-md-4 {
    text-align: center;
    padding: 0px;
}

.card {
    width: 100%;
    border-radius: 0%;
    border: 2px solid #841f27;
    display: flex;
    justify-content: center;
    min-height: 180px;
}
.cardimp {
    border: 0px;
}
.btn-primary {
    background-color: #841f27;
    border: #841f27;
}
.btn-primary:hover {
    background-color: #f31023 !important;
    border: #f31023 !important;
}
.btn-primary:active:focus {
    background-color: #f31023 !important;
    border: #f31023 !important;
}
.btn-primary:not(:disabled):not(.disabled):active {
    box-shadow: none !important;
}
.debit {
    color: red;
}

.credit {
    color: green;
}

.col-6 {
    height: 100%;
    min-height: 20px;
    text-align: center;
    padding: 0px;
}

.desc {
    opacity: 0.5;
}

li {
    color: red;
    display: inline-block;
    list-style-type: none;
    font-weight: 900;
    padding: 1em;
    text-transform: uppercase;
}

.col-12 {
    width: 100%;
    padding: 0%;
}

li span {
    display: block;
}

@media all and (min-width: 991px) {
    #chart {
        width: 50%;
        height: 50%;
    }
    .card-footer {
        background-color: #fff;
        border: 0ch;
    }
    .card-footer .badge {
        padding: 10px 10px 10px 10px;
    }
    .col-6 .payment {
        padding-top: 25px;
        min-height: 40px;
    }
    .logowala {
        max-width: 150px;
        max-height: 150px;
    }
    #form {
        margin-bottom: 20%;
    }
}

@media all and (max-width: 990px) {
    /* .container {
        width: 95%;
    } */
    #form {
        margin-top: 50%;
        margin-bottom: 55%;
    }
    li {
        padding: 5px;
        font-size: 75%;
    }
    #chart {
        width: 100%;
        height: 100%;
    }
    .card-footer {
        background-color: #fff;
        border: 0ch;
        padding: 0%;
    }
    .card-body div i {
        display: block;
        justify-content: center;
    }
    .logowala {
        max-width: 100px;
        max-height: 100px;
    }
}
.card-body {
    display: flex;
    justify-content: center;
}
.countholder {
    position: absolute;
    top: 51%;
    left: 65%;
}
.counter {
    position: absolute;

    top: 45%;
    left: 65%;
}
